<div id="wb-head"><div id="wb-head-in"><header>
<!-- HeaderStart -->
<nav role="navigation"><div id="gcwu-gcnb"><h2>Intranet navigation bar</h2><div id="gcwu-gcnb-in"><div id="gcwu-intranetnb"><div id="gcwu-intranetnb-in">
<ul>
<!-- navbar_top START -->
<li id="gcwu-gcnb1"><a href="mailto:ICN-RCI?Subject=Contact Us - ICN Feedback">&nbsp;&nbsp;Contact the ICN</a></li>
<li id="gcwu-gcnb2"><a href="http://srm/CreateSR.aspx?Env=20">Submit an <abbr title="Service request">SR</abbr> to the ICN</a></li>
<!-- navbar_top ENDS -->
<li id="gcwu-gcnb3"><a href="http://www.statcan.gc.ca/start-debut-eng.html">Statistics Canada</a></li>
{% block language_link %}
{% if locale=='fr' %}
  <li id="gcwu-gcnb-lang"><a href="{{ url_for('ecn_search', lang_code='en') }}" lang="en">English</a></li>
{% else %}
  <li id="gcwu-gcnb-lang"><a href="{{ url_for('ecn_search', lang_code='fr') }}" lang="fr">Fran&#231;ais</a></li>
{% endif %}
{% endblock %}
</ul>
</div></div>
<div id="gcwu-gcnb-fip">
<div id="gcwu-sig"><div id="gcwu-sig-in"><!--<object data="/WBICNRCI/dist/theme-gcwu-intranet/images/sig-blk-en.svg" role="img" tabindex="-1" aria-label="Government of Canada" type="image/svg+xml">---><img src="/static/sigstc-eng.png" alt="Statistics Canada" /><!--</object>--></div></div>
<div id="gcwu-wmms"><div id="gcwu-wmms-in"><object data="/static/wmms-intra.svg" role="img" tabindex="-1" aria-label="Symbol of the Government of Canada" type="image/svg+xml"><img src="/static/wmms-alt.png" alt="Symbol of the Government of Canada" /></object></div></div>
</div></div></div></nav>
<div id="gcwu-bnr" role="banner"><div id="gcwu-bnr-in">
<div id="gcwu-title"><p id="gcwu-title-in"><a href="/rcicn_r000-eng.html">
External Communications Network

</a></p></div>

<!-- incl. Search STARTS -->
<!--<section role="search"><div id="gcwu-srchbx"><h2>Search</h2>
<form action="http://www40.statcan.ca:8089/cbin/english/sw1/sw2.cgi" method="get">
<div id="gcwu-srchbx-in">
<!--<form accept-charset="ISO-8859-1" action="http://www40.statcan.ca:8089/cbin/english/sw1/sw2.cgi" method="get" onSubmit="if(document.charset!='ISO-8859-1' && navigator.userAgent.indexOf('MSIE')>0){document.charset = 'ISO-8859-1';}"><div id="gcwu-srchbx-in">-->

<!--<label for="icnSrch">Search the ICN website</label>
<input id="icnSrch" name="se" type="search" value="" size="27" maxlength="150" />
<input id="gcwu-srch-submit" type="submit" value="Search" />
</div></form>
</div></section>-->
<!-- incl. Search ENDS -->

</div></div>

<!-- incl. Mega Menu STARTS -->
<nav role="navigation">
<div id="gcwu-psnb"><h2>Site menu</h2><div id="gcwu-psnb-in"><div class="wet-boew-menubar mb-mega"><div>
<ul class="mb-menu" data-ajax-replace="/wet-boew/includes/menu-en.txt">

﻿<li>
	<section>
		<h3><a href="/35/35_000-eng.html">The Hub&nbsp;</a></h3>
		<div class="mb-sm span-8">
			<div class="span-8">
				<section>
					<h4 class="margin-top-none background-medium font-medium"><a href="/35/35_000-eng.html" class="nodeco"><strong>Go to the Hub home page</strong></a></h4>
				</section>
			</div>
			<div class="span-2 row-start">
				<section>
					<h4 class="margin-top-none margin-left-large font-medium"><a href="/35/35a/35a_000-eng.html" class="nodeco"><strong>Me</strong></a></h4>
					<ul>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a1">Administrative services</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a2">Awards and recognition</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a3">Career</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a4">Employment equity</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35b/35b_036-eng.html">Emergency services</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a17">Occupational health and safety</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a14" title="Time Management System (TMS)">Time Management System <abbr title="Time Management System">(TMS)</abbr></a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a5">Learning and development</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a6">Leave and work arrangements</a> </li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a10">Official languages</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a8">Pay and benefits</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a11">Security services</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a9">Support services</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a12">Travel</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a7">Leaving Statistics Canada</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a15">Run or request a report</a></li>
						<li class="line-height-small margin-left-large"><a href="/35/35a/35a_000-eng.html#a16">Request access to data or systems in the Corporate Access Request System</a></li>
					</ul>
				</section>
			</div>
			<div class="span-2">
				<section>
					<h4 class="margin-top-none font-medium"><a href="/35/35b/35b_000-eng.html" class="nodeco"><strong>My workplace</strong></a></h4>
					<ul>
						<li class="line-height-small"><a href="/35/35b/35b_000-eng.html#a1">Computers and office equipment</a></li>
						<li class="line-height-small"><a href="/35/35b/35b_000-eng.html#a2">Conference and multimedia services</a></li>
						<li class="line-height-small"><a href="/35/35b/35b_000-eng.html#a3">Building repairs, cleaning and   temperature</a></li>
						<li class="line-height-small"><a href="/35/35b/35b_036-eng.html">Emergency services</a></li>
						<li class="line-height-small"><a href="/35/35b/35b_000-eng.html#a11">Occupational health and safety</a></li>
						<li class="line-height-small"><a href="/35/35b/35b_000-eng.html#a4">Office design</a></li>
						<li class="line-height-small"><a href="/35/35b/35b_000-eng.html#a5">Office furniture</a></li>
						<li class="line-height-small"><a href="/35/35b/35b_000-eng.html#a6">Office supplies</a></li>
						<li class="line-height-small"><a href="/35/35b/35b_000-eng.html#a7">Security services</a></li>
						<li class="line-height-small"><a href="/35/35b/35b_000-eng.html#a8">Telephone services</a></li>
						<li class="line-height-small"><a href="/35/35b/35b_000-eng.html#a10">Post an announcement</a></li>
					</ul>
				</section>
			</div>
			<div class="span-2">
				<section>
					<h4 class="margin-top-none font-medium"><a href="/35/35c/35c_000-eng.html" class="nodeco"><strong>My work</strong></a></h4>
					<ul>
						<li class="line-height-small"><a href="/35/35c/35c_000-eng.html#a7">Plan and manage my work</a></li>
						<li class="line-height-small"><a href="/35/35c/35c_000-eng.html#a6">Plan my cost-recovery project</a></li>
						<li class="line-height-small"><a href="/35/35c/35c_000-eng.html#a4">Need staff</a></li>
						<li class="line-height-small"><a href="/35/35c/35c_000-eng.html#a9">Make a purchase</a></li>
						<li class="line-height-small"><a href="/35/35c/35c_000-eng.html#a5">Request services</a></li>
						<li class="line-height-small"><a href="/35/35c/35c_000-eng.html#a11">Travel</a></li>
						<li class="line-height-small"><a href="/35/35c/35c_000-eng.html#a10">Delegated authorities</a></li>
						<li class="line-height-small"><a href="/35/35c/35c_000-eng.html#a12">Request access to data or systems in the Corporate Access Request System</a></li>
					</ul>
				</section>
			</div>
			<div class="span-2 row-end">
				<section>
					<h4 class="margin-top-none font-medium"><a href="/35/35d/35d_000-eng.html" class="nodeco"><strong>My staff</strong></a></h4>
					<ul>
						<li class="line-height-small"><a href="/35/35d/35d_000-eng.html#a1">Need staff</a></li>
						<li class="line-height-small"><a href="/35/35d/35d_000-eng.html#a12">Promote an employee within a Recruitment and Development Program</a></li>
						<li class="line-height-small"><a href="/35/35d/35d_000-eng.html#a2" title="Make changes to my organization (including   organizational charts">Make changes to my organization</a></li>
						<li class="line-height-small"><a href="/35/35d/35d_000-eng.html#a9">Support my employees</a></li>
						<li class="line-height-small"><a href="/35/35d/35d_000-eng.html#a8">Train and develop employees</a></li>
						<li class="line-height-small"><a href="/35/35d/35d_000-eng.html#a5">Welcome a new or returning employee</a></li>
						<li class="line-height-small"><a href="/35/35d/35d_000-eng.html#a3">Departing employees</a></li>
						<li class="line-height-small"><a href="/35/35d/35d_000-eng.html#a7">My responsibilities as a manager</a></li>
						<li class="line-height-small"><a href="/35/35d/35d_000-eng.html#a4">Leave and work arrangements</a></li>
						<li class="line-height-small"><a href="/35/35b/35b_036-eng.html">Emergency services</a></li>
						<li class="line-height-small"><a href="/35/35d/35d_012-eng.html">Get a copy of your organization chart</a></li>
						<li class="line-height-small"><a href="/35/35d/35d_000-eng.html#a10">Run or request a report</a></li>
					</ul>
				</section>
			</div>
			<div class="clear"></div>
		</div>
	</section>
</li>
<!-- END button 1 -->
<li>
	<section>
		<h3><a href="/07/07_000-eng.html">Human Resources&nbsp;</a></h3>
		<div class="mb-sm span-6">
			<div class="span-6">
				<section>
					<h4 class="background-medium margin-bottom-none font-medium"><a href="/07/07_000-eng.html" class="nodeco"><strong>Go to <abbr title="Human Resources">HR</abbr> home page</strong></a></h4>
				</section>
			</div>
			<div class="clear"></div>
			<div class="span-3 row-start">
				<section>
					<h4 class="wb-invisible">HR Services - Items 1 to 7 of 14</h4>
					<ul>
						<li><a href="/07/0701/0701_000-eng.html">Accommodation and disability management</a></li>
						<li><a href="/07/07q/07q_000-eng.html">Awards and recognition</a></li>
						<li><a href="/07/07b/07b_000-eng.html">Classification and organization</a></li>
						<li><a href="/07/07f/07f_000-eng.html">Employment equity and diversity</a></li>
						<li><a href="/07/07bb/07bb_000-eng.html">Executive services</a></li>
						<li><a href="/07/0702/0702_000-eng.html">HR planning and reporting</a></li>
						<li><a href="/07/0703/0703_000-eng.html">Labour Relations</a></li>
					</ul>
				</section>
			</div>
			<div class="span-3 row-end">
				<section>
					<h4 class="wb-invisible">HR Services - Items 8 to 14 of 14</h4>
					<ul>
						<li><a href="/07/07m/07m_000-eng.html">Learning and training</a></li>
						<li><a href="/07/07h/07h_000-eng.html">Official languages</a></li>
						<li><a href="/07/07c/07c_000-eng.html">Pay and benefits</a></li>
						<li><a href="/07/07v/07v_000-eng.html">Performance excellence</a></li>
						<li><a href="/07/07L/07L_000-eng.html">Resourcing (staffing and corporate assignments)</a></li>
						<li><a href="/07/0705/0705_000-eng.html">Wellness resources</a></li>
					</ul>
				</section>
			</div>
			<div class="clear"></div>
			<hr class="margin-top-none margin-bottom-none">
			<div class="span-3 row-start">
				<section>
					<h4 class="wb-invisible">Other HR links - Items 1 to 1 of 2</h4>
					<ul>
						<li><a href="/07/07e/07e_001-eng.html">Employee Assistance Program (EAP)</a></li>
					</ul>
				</section>
			</div>
			<div class="span-3 row-end">
				<section>
					<h4 class="wb-invisible">Other HR links - Items 2 to 2 of 2</h4>
					<ul>
						<li><a href="/07/07aa/07aa_000-eng.html">Informal Conflict Management Services (ICMS)</a></li>
					</ul>
				</section>
			</div>
			<div class="clear"></div>
		</div>
	</section>
</li>

<!-- END button 2 -->

<li>
	<section>
		<h3><a href="http://informatics/E_side/">Informatics&nbsp;</a></h3>
		<div class="mb-sm span-6">
			<div class="span-6">
				<section>
					<h4 class="background-medium margin-bottom-none font-medium"><a href="http://informatics/E_side/" class="nodeco"><strong>Go to Informatics home page</strong></a></h4>
				</section>
			</div>
			<div class="clear"></div>
			<div class="span-2 row-start">
				<section>
					<h4 class="wb-invisible">Informatics - Items 1 to 6 of 12</h4>
					<ul>
						<li><a href="http://informatics/E_side/">View IT alerts</a></li>
						<li><a href="http://informatics/E_side/Contact_Us/How_to_report_IT_problem.htm">Report an IT problem</a></li>
						<li><a href="http://informatics/E_side/employees/Configuration_printers_Networks_A_B.htm">Configure printers on Networks A and B</a></li>
						<li><a href="http://informatics/e_side/employees/equipment_request_approval_process.htm">Request additional IT equipment</a></li>
						<li><a href="http://informatics/E_side/Security/Device_Control/Device_Control.htm">About USB devices</a></li>
						<li><a href="http://informatics/E_side/Users@home/users@home.htm">Users@Home</a></li>
					</ul>
				</section>
			</div>
			<div class="span-2">
				<section>
					<h4 class="wb-invisible">Informatics - Items 7 to 12 of 12</h4>
					<ul>
						<li><a href="http://informatics/e_side/Managers/IT%20Plan/StatCanITPlan2014-15_E.pdf">&nbsp;&nbsp;Departmental IT Plan</a></li>
						<li><a href="/888/888c/888c43/888c43_000-eng.html">Information Technology Architecture Committee </a></li>
						<li><a href="http://informatics/E_side/services/Service_Catalogue/ApplicationDevelopmentMaintenanceandSupport.htm">Application development services</a></li>
						<li><a href="http://informatics/E_side/services/Service_Catalogue/e_Questionnaire.htm">Electronic questionnaire services</a></li>
						<li><a href="http://informatics/e_side/services/Service_Catalogue/Technical_Services_Elements/TSE_DBA_Hosting_IT_Advising.htm">Hosting services</a></li>
						<li><a href="http://informatics/E_side/Contact_Us/IT_Managers.htm">About IT managers</a></li>
					</ul>
				</section>
			</div>
			<div class="span-2 row-end">
				<section>
					<h4 class="wb-invisible">Major <abbr title="Information Technology">IT</abbr> projects - Items 1 to 5 of 5</h4>
					<ul>
                        <li><a href="http://informatics/E_side/Employees/NetB_Workstation_Replacement.htm">Preparation instructions for workstation replacement</a></li>
                        <li><a href="http://informatics/E_side/FAQ/New_Devices_Windows10/FAQ_Home.htm">FAQs for Mobility and Windows 10</a></li>
						<li><a href="http://informatics/E_side/SAS/SAS.htm">SAS@StatCan</a></li>
						<li><a href="http://informatics/E_side/GenSys/GenSys.htm">Generalized Systems</a></li>
						<li><a href="/22/22e/22e3/22e3_003c-eng.html">Integrated Collection and Operation System</a></li>
					</ul>
				</section>
			</div>
			<div class="clear"></div>
		</div>
	</section>
</li>

<!-- END button 3 -->

<li>
	<section>
		<h3><a href="/30/30_000-eng.html">Finance&nbsp;</a></h3>
		<div class="mb-sm span-3">
			<div class="span-3">
				<section>
					<h4 class="background-medium margin-bottom-none font-medium"><a href="/30/30_000-eng.html" class="nodeco"><strong>Go to Finance home page</strong></a></h4>
				</section>
			</div>
			<div class="clear"></div>
			<div class="span-3 row-start">
				<section>
					<h4 class="wb-invisible">Finance - Items 1 to 6 of 6</h4>
					<ul>
						<li><a href="/30/30_003-eng.html">Financial and Administrative Services Division</a></li>
						<li><a href="/30/30_007-eng.html">Corporate and Financial Planning Division</a></li>
						<li><a href="/30/30_008-eng.html">Financial Reporting Division</a></li>
						<li><a href="/23/23_000-eng.html">Departmental Project Management Office (DPMO)</a></li>
						<li><a href="/30/30_001-eng.html" title="Finance - External Reports">External reports</a></li>
						<li><a href="/30/30a/30a_000-eng.html" title="Finance - Reference Material">Reference material</a></li>
					</ul>
				</section>
			</div>
			<div class="clear"></div>
		</div>
	</section>
</li>

<!-- END button 4 -->
<li>
	<section>
		<h3><a href="/24/24_000-eng.html">Tools&nbsp;</a></h3>
		<div class="mb-sm span-6">
			<div class="span-6">
				<section>
					<h4 class="background-medium margin-bottom-none font-medium"><a href="/24/24_000-eng.html" class="nodeco"><strong>Go to Tools home page</strong></a></h4>
				</section>
			</div>
			<div class="clear"></div>
			<div class="span-3 row-start">
				<section>
					<h4 class="wb-invisible">Tools - Items 1 to 13 of 25</h4>
					<ul>
						<li><a href="/24/24b/24b_000-eng.html">Accessibility 101</a></li>
						<li><a href="https://gcconnex.gc.ca/splash/">GCconnex</a></li>
						<li><a href="/45/45a/45a_000-eng.html">GCDOCS</a></li>
						<li><a href="/24/24d/24d_000-eng.html">Improving the corporate client experience</a></li>
						<!--<li><a href="http://www85.statcan.ca/w8501/w8501_005i-eng.htm">Information and Privacy Breach Protocol at Statistics Canada</a></li>
						<li><a href="http://www23.statcan.gc.ca/standards-normes/imdb-bmdi-eng.html">Integrated Metadatabase (IMDB)</a></li>-->
						<li><a href="http://informatics/E_side/">IT Alerts and Tools</a></li>
						<!--<li><a href="https://jira.statcan.ca/secure/Dashboard.jspa"><strong>JIRA</strong></a></li>-->
						<li><a href="/45/45f/45f01/45f01_000-eng.html">Library</a></li>
						<li><a href="/24/24a/24a_000-eng.html">Manager's Tool Box</a></li>
						<li><a href="/24/24_001-eng.html">Module managers for the StatCan Website</a></li>
						<li><a href="/35/35a/35a_025-eng.html">Compensation Web Applications (CWA)/myKEY</a></li>
						<li><a href="/31/31d/31d-20/31d-20_029-eng.html" title="Powerpoint templates">PPT templates</a></li>
					</ul>
				</section>
			</div>
			<div class="span-3 row-end">
				<section>
					<h4 class="wb-invisible">Tools - Items 14 to 25 of 25</h4>
					<ul>
						<li><a href="/24/24c/24c_000-eng.html">Quick Reference Guide for Microdata Access Management</a></li>
						<li><a href="/18/18_006-eng.html">Seminars, divisional research</a></li>
						<li><a href="/24/24_000-eng.html#a01">Social Surveys Common Tools</a></li>
						<!--<li><a href="http://srm/SRMHome.aspx" title="Service Request Management portal">SRM Portal</a></li>-->
						<li><a href="/10/10l/10l_000-eng.html"><em>Statistics Canada Style Guide</em></a></li>
						<!--<li><a href="http://termatstat/trm_000-eng.htm">term@stat</a></li>
						<li><a href="http://f3apache1/tpv2alpha/alpha-eng.html?lang=eng" title="Termium Plus">Termium Plus&reg;</a></li>-->
						<li><a href="/02/02_000-eng.html"><em>The Daily</em> guidelines</a></li>
						<!--<li><a href="http://www40.statcan.ca/cbin/comp4/bit2.cgi" title="StatCan Text comparison System."><strong>TextComp (STCS)</strong></a></li>-->
						<li><a href="https://email-courriel.canada.ca/"><strong>your.email@canada.ca</strong></a></li>
						<li><a href="/28/28_000-eng.html">Website metrics</a></li>
						<li><a href="https://pspm-grfp.tbs-sct.gc.ca/">PSPM App</a></li>
					</ul>
				</section>
			</div>
			<div class="clear"></div>
		</div>
	</section>
</li>
<!-- END button 5 -->

<li>
	<section>
		<h3><a href="/10/10_000-eng.html">Reference documents&nbsp;</a></h3>
		<div class="mb-sm span-3">
			<div class="span-3">
				<section>
					<h4 class="background-medium margin-bottom-none font-medium"><a href="/10/10_000-eng.html" class="nodeco"><strong>Go to Reference documents home page</strong></a></h4>
				</section>
			</div>
			<div class="clear"></div>
			<div class="span-3">
				<ul>
					<li><a href="/07/07_999-eng.html">Organization chart</a></li>
					<!--<li><a href="http://www86.statcan.ca/w86-03/w86-03_000-eng.htm"><em>Administrative Data Handbook</em></a></li>-->
					<li><a href="/10/10b/10b_085-eng.html">Privacy notice</a></li>
					<li><a href="/31/31_000-eng.html">Policy Suite</a></li>
                    <li><a href="/10/10n/10n_000-eng.html">Quality Management at Statistics Canada</a></li>
					<li><a href="/12/12c/12c_000-eng.html">Committees</a></li>
					<li><a href="/10/10b/10b_083-eng.html">Confidentiality and security</a></li>
					<li><a href="/23/23_000-eng.html">Departmental Project Management Office (DPMO)</a></li>
					<li><a href="/03/03f/03f_000-eng.html">Senior appointments</a></li>
					<!--<li><a href="/12aspx/12aspx_000-eng.aspx">Senior management list</a></li>-->
					<li><a href="/10/10_006-eng.html"><em>Statistics Act</em></a></li>

				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</section>
</li>
<!-- END button 6 -->

<!--<li>
	<section>
		<h3><a href="http://icn-rci.statcan.ca/13/13_000-eng.html">Intranet sites&nbsp;</a></h3>
		<div class="mb-sm span-8">
			<div class="span-8 background-medium">
				<div class="span-6 row-start">
					<section>
						<h4 class="margin-bottom-none font-medium"><a href="/13/13_000-eng.html" class="nodeco"><strong>Go to Intranet sites home page</strong></a></h4>
					</section>
				</div>
				<div class="span-2 row-end">
					<section>
						<h4 class="margin-bottom-none font-medium"><a href="/13/13_001-eng.html" class="nodeco"><strong>Go to Portals home page</strong></a></h4>
					</section>
				</div>
			</div>
			<div class="clear"></div>
			<div class="span-3 row-start">
				<section>
					<h4 class="wb-invisible">Intranet sites - Items 1 to 13 of 26</h4>
					<ul>
						<li class="margin-left-large"><a href="http://www86.statcan.ca/w86_r000-eng.htm">Administrative Data (ADD)</a></li>
						<li class="margin-left-large"><a href="http://www123.statcan.ca/w123_r000-eng.htm">Census Operations Division (COD)</a></li>
						<li class="margin-left-large"><a href="http://www117.statcan.ca/w117_r000-eng.htm">Collection Planning and Research (CPRD)</a></li>
						<li class="margin-left-large"><a href="http://www81.statcan.gc.ca/comm_r000-eng.htm">Communications (COMM)</a></li>
						<li class="margin-left-large"><a href="http://www116.statcan.ca/w116_r000-eng.htm">Consumer Prices (CPD)</a></li>
						<li class="margin-left-large"><a href="http://www56.statcan.ca/w56_r000-eng.htm">Corporate Project Management Office (CPMO)</a></li>
						<li class="margin-left-large"><a href="http://www118.statcan.gc.ca/w118_r000-eng.htm">Demography (DEM)</a></li>
						<li class="margin-left-large"><a href="http://www84.statcan.gc.ca/w84_r000-eng.htm">Dissemination (DISS)</a></li>
						<li class="margin-left-large"><a href="http://www38.statcan.ca/w38_r000-eng.htm">Enterprise Statistics Division (ESD) </a></li>
						<li class="margin-left-large"><a href="http://www88.statcan.ca/w88_r000-eng.htm">Environment Accounts and Statistics (EASD)</a></li>
						<li class="margin-left-large"><a href="http://www87.statcan.gc.ca/w87_r000-eng.htm">Income Statistics (ISD)</a></li>
						<li class="margin-left-large"><a href="http://informatics/E_side/">Informatics (IT)</a></li>
						<li class="margin-left-large"><a href="http://www85.statcan.ca/w85_r000-eng.htm">Information Management (IMD)</a></li>
						<li class="margin-left-large"><a href="http://www125.statcan.ca/w125_r000-eng.htm">International Co-operation and Corporate Statistical Methods Division (ICCSMD)</a></li>
					</ul>
				</section>
			</div>
			<div class="span-3">
				<section>
					<h4 class="wb-invisible">Intranet sites- Items 14 to 26 of 26</h4>
					<ul>
						<li><a href="http://meab-dcme/">Macroeconomic Accounts (MEAB)</a></li>
						<li><a href="http://method/">Methodology (METH)</a></li>
						<li><a href="http://www90.statcan.ca/w90_r000-eng.htm">Microdata Access (MAD)</a></li>
						<li><a href="http://nead-dcen/">National Economic Accounts (NEAD)</a></li>
						<li><a href="/37/37_000-eng.html">Ombudsman for Businesses</a></li>
						<li><a href="http://oid-doi/">Operations and Integration (OID)</a></li>
						<li><a href="http://rsid-dcdis/w115_r000-eng.htm">Retail and Service Industries (RSID)</a></li>
						<li><a href="http://www39.statcan.ca/w39_r000-eng.htm">Social and Aboriginal Statistics (SASD)</a></li>
						<li><a href="http://www119.statcan.ca/ssdes_r000-eng.htm">Special Surveys (SSD)</a></li>
						<li><a href="http://www23.statcan.gc.ca/standards-normes/index-eng.html">Standards</a></li>
						<li><a href="http://www94.statcan.gc.ca/w94_r000-eng.htm">Statistical Information Service (SIS)</a> </li>
						<li><a href="http://www51.statcan.ca/w51_r000-eng.htm">Statistical Registers and Geography (SRGD)</a></li>
						<li><a href="http://www122.statcan.ca">Tourism and Centre for Education Statistics (TCESD)</a></li>
					</ul>
				</section>
			</div>
			<div class="span-2 row-end border-left">
				<section>
					<h4 class="wb-invisible"><strong>Portals</strong> - Items 1 to 13 of 13</h4>
					<ul>
						<li class="margin-left-large"><a href="http://adminsystemsportal/DesktopDefault.aspx?lang=en">Administrative systems</a></li>
						<li class="margin-left-large"><a href="/41/41_000-eng.html">Corporate Services Field</a></li>
						<li class="margin-left-large"><a href="/43/43_000-eng.html">Economic Statistics Field</a></li>
						<li class="margin-left-large"><a href="http://www96.statcan.ca/fpt/fpt_r000_e.htm">Focal points</a></li>
						<li class="margin-left-large"><a href="/07/07bb/07bb_000-eng.html">For executives</a></li>
						<li class="margin-left-large"><a href="/21/21_000-eng.html">For managers</a></li>
						<li class="margin-left-large"><a href="/38/38_000-eng.html"><abbr title="Government of Canada Workplace Charitable Campaign">GCWCC</abbr></a></li>
						<li class="margin-left-large"><a href="/12/12h/12h_000-eng.html">Health and safety</a></li>
						<li class="margin-left-large"><a href="http://adminsystemsportal/DesktopDefault.aspx?lang=en&amp;appid=7"><abbr title="Human Resources">HR</abbr> Self-Serve Portal</a></li>
						<li class="margin-left-large"><a href="http://srm/SRMHome.aspx" title="Service Request Management Portal">SRM Portal</a></li>
						<li class="margin-left-large"><a href="http://sypn/">StatCan Young Professionals (SYPN)</a></li>
						<li class="margin-left-large"><a href="/33/33_000-eng.html">The Innovation Channel</a></li>
						<li class="margin-left-large"><a href="/04/04t/04t_000-eng.html">Volunteer at StatCan</a></li>
						<li class="margin-left-large"><a href="/07/0704/0704_000-eng.html">Workplace wellness</a></li>
					</ul>
				</section>
			</div>
			<div class="clear"></div>
		</div>
	</section>
</li>-->

<!-- END button 7 -->

<li>
	<section>
		<h3><a href="#"><abbr title="Internal Communications Network">ICN</abbr> corner&nbsp;</a></h3>
		<div class="mb-sm span-3">
			<div class="span-3">
				<section>
					<h4 class="background-medium margin-bottom-none font-medium"><a href="/06/06_000-eng.html" class="nodeco"><strong>Go to the <abbr title="Internal Communications Network">ICN</abbr> corner</strong></a></h4>
				</section>
			</div>
			<div class="clear"></div>
			<div class="span-3">
				<ul>
					<!--<li><a href="#">Submit content to the ICN</a></li>-->
					<li><a href="/13/13_001-eng.html">Intranets and portals managers</a></li>
					<li><a href="/03/03g/03g_000-eng.html">Retirements and departures</a></li>
					<li><a href="/14/14_000-eng.html">Food menu - Main Building</a></li>
					<li><a href="/14/14_000a-eng.html">Food menu - Jean-Talon Building</a></li>
					<li><a href="/r031-eng.html">Statistics Canada addresses</a></li>
					<li><a href="/35/35b/35b_013-eng.html">Request building repairs or maintenance</a></li>
					<li><a href="/r014-eng.html">Ideas, suggestions and comments</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</section>
</li>

<!-- END button 8 -->
<!--<li>
	<h3><a href="http://icn-rci.statcan.ca/bbaspx/bbaspx_000-eng.aspx">Bulletin Board</a></h3>
</li>-->


</ul>
</div></div>
<!-- incl. Mega Menu ENDS -->

</div></div>

<div id="gcwu-bc"><h2>Breadcrumb trail</h2><div id="gcwu-bc-in">
<ol>
<li>Home</li>
<!-- Breadcrumb trail -->
<!-- InstanceBeginEditable name="bread" --> <!-- InstanceEndEditable -->
</ol>
</div></div>
</nav>
</header></div></div>

