{% extends 'base.html' %}

{% block search_content %}
<form action="{{ url_for('search', lang_code=locale) }}" id="searchForm" method='get'>
  <div id="searchInput" class="input-group col-md-8">
    <p> {{ _('search') }}
    <input name='q' size=30 id="query" value="{{qval}}" 
           placeholder="{{ _('search') }}" class="form-control" autocomplete="off">
    <select id="sub-search" multiple="multiple"> 
      <option value="isp">Information for survery participants</option>
      <option value="navigation">Navigation</option>
      <option value="daily">Daily</option>
      <option value="cansim">CANSIM</option>
    </select>
    <button> Option </button>
  </div>
</form>
<p>

{% if res %}
  <div class="row">
    <div class="col-md-4">
      Total: {{ res.record_count }} </div> 
    <div class="col-md-6"> {{ pagination.links }}</div>
  </div>
  {% for i in range(0, res['result']|count) %}
  <div class="col-md-12">
    <p>
    {% set item=res['result'][i] %}
    {{i+1}}: <a href="{{item.url}}">{{ item.title }} </a> &nbsp;&nbsp;&nbsp;&nbsp;
    Date: {{ item.last_modified[:10] }}<br>
    {{ item.content_description| safe }}<br>
    <hr class="drk-grey" style="display: block;">
  </div>
  {% endfor %}
  {{ pagination.links }}
{% else %}
  <div class="row" style="min-height: 200px;"> </div>
{% endif %}

{% endblock %}

